<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Set Password</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {

            $("#Submit").click(function (e) {
                if($("#password").val()!=$("#confirmpassword").val()){
                    alert("Password and Confirm password did not match.");
                    e.preventDefault();
                }
            });

            $("#showpassword").click(function () {
                if ($("#showpassword").is(":checked")) {
                    $("#password").prop('type', 'text');
                    $("#confirmpassword").prop('type', 'text');
                }
                else {
                    $("#password").prop('type', 'password');
                    $("#confirmpassword").prop('type', 'password');
                }
            });
        })
    </script>
</head>
<body style="background-color: #C70039">
<div class="container jumbotron" style="width: 50%; align-content: center; margin-top: 70px;">
    <form class="form-horizontal" action="/resetpassword" method="post">
        <fieldset>
            <div th:if="${invalidLink}">
                <div class="alert alert-danger" role="alert">
                    <small th:text="${invalidLink}"></small>
                </div>
            </div>
            <div th:if="${usedInvalidLink}">
                <div class="alert alert-danger" role="alert">
                    <small th:text="${usedInvalidLink}"></small>
                </div>
            </div>
            <!-- Form Name -->
            <legend>Set New Password</legend>

            <!-- Password input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="password">New Password</label>
                <div class="col-md-5">
                    <input id="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" type="password" placeholder="Password"
                           title="Password must contain at least one number, one uppercase, one lowercase letter and at least 6characters"
                           class="form-control input-md" required="">
                </div>
            </div>

            <!--Confirm Pasword-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="confirmpassword">Confirm Password</label>
                <div class="col-md-5">
                    <input id="confirmpassword" name="confirmpassword" type="password" placeholder="Confirm Password"
                           class="form-control input-md" required="">
                </div>
            </div>

            <!--Show Password-->
            <div class="form-group">
                <div class="col-md-7 control-label">
                    <div class="checkbox">
                        <label for="showpassword">
                            <input type="checkbox" name="showpassword" id="showpassword" value="1">
                            Show Password
                        </label>
                    </div>
                </div>
            </div>

            <input type="hidden" name="resetToken" th:value="${resetToken}">
            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="Submit"></label>
                <div class="col-md-4">
                    <button id="Submit" name="Submit" type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
            <a href="/login" style="margin-left: 220px">Log In</a>
        </fieldset>
    </form>
</div>
</body>
</html>